.bg{
    background-color: #0C293D;
    border: 1px solid #0C293D;
    border-radius: 45px;

}
.text2{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
.text3{
    padding-left: 100px;
    line-height: 25px;
}
.color{
    color: white;
    font-size: 40px;
    font-weight: bolder;
}
.color2{
    color: transparent;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width:1px ;
    font-size: 40px;
    font-weight: bolder;
}
.color3{
    display: flex;
    align-self: self-end;
    justify-content: right;
    color: #fff;
    max-width: 500px;
}
.color4{
    color: white;
    width: 85%;
    margin: auto;
    margin-top: -50px;
}
.box{
    width: 280px;
    height: 350px;
    background-color: white;
    border: 1px solid white;
    border-radius: 13px;
    position: relative;
}
.color5{
    display: flex;
    justify-content: space-evenly;
    margin-top: -100px;
}
.circle{
    width: 90px;
    height: 90px;
    background-color: #3286C0;
    border: 2px solid white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -30px;
    right: -30px;
}